<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#WhatsappModel">
    <i class="fa fa-whatsapp"></i>
</button>


<div class="modal fade" id="WhatsappModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="WhatsappModelLabel" aria-hidden="true">
    <div class=" modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="WhatsappModelLabel">Whatsapp</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="height: 95vh; width: 95vw;">
                <iframe src="https://web.whatsapp.com/" frameborder="0" style="width: 100%; height: 100%;"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>